---
import Container from '../container/index.astro'
import ExtraNavigation from '../extra-navigation/index.astro'
import HeaderLink from '../header-link/index.astro'
import MenuMobile from '../menu-mobile/index.astro'
import styles from './index.module.scss'
---

<header class={styles.header}>
  <Container class={styles.headerInner}>
    <a
      href="/"
      class={styles.logo}
    >
    </a>

    <nav
      class={styles.nav}
      aria-label="グローバルナビゲーション"
    >
      <div class={styles.links}>
        <div class={styles.internalLinks}>
          <HeaderLink href="/">Home</HeaderLink>
          <HeaderLink href="/blog/">Log</HeaderLink>
          <HeaderLink
            href="https://devymt.com/"
            target="_blank"
            >About me</HeaderLink
          >
        </div>
        <ExtraNavigation />
      </div>
    </nav>
    <MenuMobile />
  </Container>
</header>
