---
import { getCollection } from 'astro:content'
import FormattedDate from './FormattedDate.astro'

const { limit } = Astro.props

const posts = (await getCollection('blog')).sort(
  (a: { data: { pubDate: number } }, b: { data: { pubDate: number } }) =>
    a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
)
---

<ul class="list">
  {
    posts.slice(0, limit).map(
      (post: {
        slug: string
        data: {
          heroImage: string | null | undefined
          title: unknown
          pubDate: Date
          tags: string
        }
      }) => (
        <li class="post">
          <a
            href={`/blog/${post.slug}/`}
            class="post-link"
          >
            <img
              width={720}
              height={360}
              src={post.data.heroImage}
              alt=""
              class="image"
              transition:name={`blog-placeholder-${post.slug}`}
            />
            <h3 class="title">{post.data.title}</h3>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
            <ul class="tag-list">
              {Array.isArray(post.data.tags) &&
                post.data.tags.map((tag) => (
                  <li class="tag">
                    <span aria-hidden="true">#</span>
                    {tag}
                  </li>
                ))}
            </ul>
          </a>
        </li>
      ),
    )
  }
</ul>

<style lang="scss">
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
    place-items: center;
    justify-items: start;
    width: min(100%, 700px);
  }

  .post {
    display: inline-grid;
    grid-template-rows: subgrid;
    row-gap: 12px;

    @include mq(md) {
      width: min(100%, 300px);
    }
  }

  .post-link {
    display: inline-grid;
    gap: 6px;
    text-decoration: none;
  }

  .image {
    aspect-ratio: 4 / 2;
    object-fit: cover;
    border-radius: var(--rounded-sm);
  }

  .title {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    color: var(--c-text-1);
  }

  .date {
    padding-left: 2px;
    font-size: 12px;
    font-weight: 300;
    color: var(--c-text-3);
  }

  .tag-list {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 2px;
  }

  .tag {
    display: flex;
    gap: 1px;
    align-items: center;
    padding: 3px 14px;
    font-size: 10px;
    color: var(--c-text-3);
    background: transparent;
    border: 1px solid var(--c-border);
    border-radius: var(--rounded-full);

    @include hover {
      background: var(--c-background-soft);
    }
  }
</style>
