---
import styles from './index.module.scss'

interface BreadcrumbItem {
  label: string
  path?: string
}

export async function getBreadcrumbs(path: string): Promise<BreadcrumbItem[]> {
  const breadcrumbs: BreadcrumbItem[] = []
  const paths = path.split('/').filter((path) => path !== '')

  let currentPath = ''
  for (const segment of paths) {
    currentPath += `/${segment}`
    breadcrumbs.push({
      label: segment.slice(0, 1).toUpperCase() + segment.slice(1),
      path: currentPath,
    })
  }

  return breadcrumbs
}
---

<nav>
  <ol class={styles.breadcrumbs}>
    <li class={styles.homepath}>
      <a
        href="/"
        class={styles.homepathLink}
        aria-current={Astro.url.pathname === '/' ? 'location' : null}
      >
        <svg
          aria-hidden="true"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          ><path
            d="M3 10.25V20C3 20.5523 3.44771 21 4 21H8.42857C8.98086 21 9.42857 20.5523 9.42857 20V13.2857H14.5714V20C14.5714 20.5523 15.0191 21 15.5714 21H20C20.5523 21 21 20.5523 21 20V10.25C21 9.93524 20.8518 9.63885 20.6 9.45L12 3L3.4 9.45C3.14819 9.63885 3 9.93524 3 10.25Z"
            stroke="var(--c-text-1)"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path></svg
        >
        <span class="sr-only">ホーム</span>
      </a>
    </li>
    <li class={styles.separator}>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path d="m9 18 6-6-6-6"></path></svg
      >
    </li>
    {
      (await getBreadcrumbs(Astro.url.pathname)).map((crumb) => (
        <li class={styles.subpath}>
          {crumb.path ? (
            <p aria-current={crumb.path === crumb.path ? 'location' : null}>{crumb.label}</p>
          ) : (
            crumb.label
          )}
        </li>
      ))
    }
  </ol>
</nav>
